.main-container{
    height: 100vh;
    width: 100%;
    background-image: url(../../../assets/images/loginbackground.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 500px;
    background-color:white;
    margin-top: 10px;
    border-radius: 40px;
    border: 4px solid black;
    padding: 20px;
}

.heading{
    text-align: center;
}

.divider{
    width: 40%;
    height: 3px;
    background-color: black;
    margin: 0 auto 2rem auto;
}

.btn-success{
    padding: 10px 40px;
    display: block;
    margin: 1rem auto 0rem auto;
    text-align: center;
    width: 40%;
}