.products-container{

    width: 100%;

    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    align-items: center;

    justify-content: center;

    text-align: center;

    gap: 1.5rem;

}



.card{

    width: 20%;

}

.card img{
    width: 300px;
    height: 300px;
}

.title, .category-title{

    text-align: center;

    margin: 1rem 0;

}

.category-title{
    margin-top: 3rem;
}

.divider{

    width: 40%;
    height: 0.2rem;

    text-align: center;

    margin: 0 auto 2rem auto;

    background-color: #00203fff;

}
