
<div class="category-title">

    <h2>Glasses</h2>
    <div class="divider"></div>

</div>



<div class="products-container">

    <div class="card">

        <div><img src="../../../assets/images/glasses/1.jpg" alt="" class="card-img-top"></div>

        <div class="card-body">

            <h5 class="card-title title">Title</h5>

            <h6 class="card-subtitle text-primary">12 products available</h6>

        </div>

        <div class="card-body">

            <h5 class="card-title text-success">Price

                <span class="text-primary">$20</span>

            </h5>

        </div>

        <div class="card-footer d-grid">

            <button class="btn btn-outline-success" type="button" >Add to Cart</button>

        </div>

    </div>



    <div class="card">

        <div><img src="../../../assets/images/glasses/2.jpg" alt="" class="card-img-top"></div>

        <div class="card-body">

            <h5 class="card-title title">Title</h5>

            <h6 class="card-subtitle text-primary">12 products available</h6>

        </div>

        <div class="card-body">

            <h5 class="card-title text-success">Price

                <span class="text-primary">$20</span>

            </h5>

        </div>

        <div class="card-footer d-grid">

            <button class="btn btn-outline-success" type="button">Add to Cart</button>

        </div>

    </div>



    <div class="card">

        <div><img src="../../../assets/images/glasses/3.jpg" alt="" class="card-img-top"></div>

        <div class="card-body">

            <h5 class="card-title title">Title</h5>

            <h6 class="card-subtitle text-primary">12 products available</h6>

        </div>

        <div class="card-body">

            <h5 class="card-title text-success">Price

                <span class="text-primary">$20</span>

            </h5>

        </div>

        <div class="card-footer d-grid">

            <button class="btn btn-outline-success" type="button">Add to Cart</button>

        </div>

    </div>

</div>



<div class="category-title">

    <h2>Sunglasses</h2>
    <div class="divider"></div>

</div>



<div class="products-container">

    <div class="card">

        <div><img src="../../../assets/images/sunglasses/1.jpg" alt="" class="card-img-top"></div>

        <div class="card-body">

            <h5 class="card-title title">Title</h5>

            <h6 class="card-subtitle text-primary">12 products available</h6>

        </div>

        <div class="card-body">

            <h5 class="card-title text-success">Price

                <span class="text-primary">$20</span>

            </h5>

        </div>

        <div class="card-footer d-grid">

            <button class="btn btn-outline-success" type="button">Add to Cart</button>

        </div>

    </div>



    <div class="card">

        <div><img src="../../../assets/images/sunglasses/2.jpg" alt="" class="card-img-top"></div>

        <div class="card-body">

            <h5 class="card-title title">Title</h5>

            <h6 class="card-subtitle text-primary">12 products available</h6>

        </div>

        <div class="card-body">

            <h5 class="card-title text-success">Price

                <span class="text-primary">$20</span>

            </h5>

        </div>

        <div class="card-footer d-grid">

            <button class="btn btn-outline-success" type="button">Add to Cart</button>

        </div>

    </div>
    <div class="card">

        <div><img src="../../../assets/images/sunglasses/3.jpeg" alt="" class="card-img-top"></div>

        <div class="card-body">

            <h5 class="card-title title">Title</h5>

            <h6 class="card-subtitle text-primary">12 products available</h6>

        </div>

        <div class="card-body">

            <h5 class="card-title text-success">Price

                <span class="text-primary">$20</span>

            </h5>

        </div>

        <div class="card-footer d-grid">

            <button class="btn btn-outline-success" type="button">Add to Cart</button>

        </div>

    </div>

</div>


<div class="category-title">

    <h2>Lenses</h2>
    <div class="divider"></div>
</div>



<div class="products-container">

    <div class="card">

        <div><img src="../../../assets/images/lenses/1.jpg" alt="" class="card-img-top"></div>

        <div class="card-body">

            <h5 class="card-title title">Title</h5>

            <h6 class="card-subtitle text-primary">12 products available</h6>

        </div>

        <div class="card-body">

            <h5 class="card-title text-success">Price

                <span class="text-primary">$20</span>

            </h5>

        </div>

        <div class="card-footer d-grid">

            <button class="btn btn-outline-success" type="button">Add to Cart</button>

        </div>

    </div>



    <div class="card">

        <div><img src="../../../assets/images/lenses/2.jpg" alt="" class="card-img-top"></div>

        <div class="card-body">

            <h5 class="card-title title">Title</h5>

            <h6 class="card-subtitle text-primary">12 products available</h6>

        </div>

        <div class="card-body">

            <h5 class="card-title text-success">Price

                <span class="text-primary">$20</span>

            </h5>

        </div>

        <div class="card-footer d-grid">

            <button class="btn btn-outline-success" type="button">Add to Cart</button>

        </div>

    </div>



    <div class="card">

        <div><img src="../../../assets/images/lenses/3.jpg" alt="" class="card-img-top"></div>

        <div class="card-body">

            <h5 class="card-title title">Title</h5>

            <h6 class="card-subtitle text-primary">12 products available</h6>

        </div>

        <div class="card-body">

            <h5 class="card-title text-success">Price

                <span class="text-primary">$20</span>

            </h5>

        </div>

        <div class="card-footer d-grid">

            <button class="btn btn-outline-success" type="button">Add to Cart</button>

        </div>

    </div>

</div>



<div class="category-title">

    <h2>Frames</h2>
    <div class="divider"></div>
</div>



<div class="products-container">
    <div class="card">
        <div><img src="../../../assets/images/frames/1.jpg" alt="" class="card-img-top"></div>
        <div class="card-body">
            <h5 class="card-title title">Title</h5>
            <h6 class="card-subtitle text-primary">12 products available</h6>
        </div>
        <div class="card-body">
            <h5 class="card-title text-success">Price
                <span class="text-primary">$20</span>
            </h5>
        </div>
        <div class="card-footer d-grid">
            <button class="btn btn-outline-success" type="button">Add to Cart</button>
        </div>
    </div>

    
    <div class="card">
        <div><img src="../../../assets/images/frames/2.jpg" alt="" class="card-img-top"></div>
        <div class="card-body">

            <h5 class="card-title title">Title</h5>

            <h6 class="card-subtitle text-primary">12 products available</h6>

        </div>

        <div class="card-body">

            <h5 class="card-title text-success">Price

                <span class="text-primary">$20</span>

            </h5>

        </div>

        <div class="card-footer d-grid">

            <button class="btn btn-outline-success" type="button">Add to Cart</button>

        </div>

    </div>



    <div class="card">

        <div><img src="../../../assets/images/frames/3.jpg" alt="" class="card-img-top"></div>

        <div class="card-body">

            <h5 class="card-title title">Title</h5>

            <h6 class="card-subtitle text-primary">12 products available</h6>

        </div>

        <div class="card-body">

            <h5 class="card-title text-success">Price

                <span class="text-primary">$20</span>

            </h5>

        </div>

        <div class="card-footer d-grid">

            <button class="btn btn-outline-success" type="button">Add to Cart</button>

        </div>

    </div>
    

</div>

