 
   <app-navbar></app-navbar>  

 <!-- <app-products></app-products>   -->

    <router-outlet></router-outlet>  





     <!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">

    <ul class = "navbar-nav">

        <li class = "nav-itea">

            <a routerLink="sunglasses"  routerLinkActive="active" class="nav-link">SunGlasses List</a>

        </li>

        <li class = "nav-itea">

            <a routerLink="create-sunglasses"  routerLinkActive="active" class="nav-link">Add SunGlasses</a>

    </ul>

</nav>




<h1 class="text-center">{{title}}</h1>

<div class = "container">

 -->


  <!-- <app-sunglasses-list></app-sunglasses-list>     -->

  <!-- <router-outlet></router-outlet> 

</div>

<footer class = "footer">

    <div class = "container">

    </div> -->



       

<!-- </footer>     -->

