<div class="col-md-6 offset-md-3">

    <h3>Create sunglasses</h3>
    
    <form (ngSudmit) = "onSubmit()">
    
    
    
        <div class="form-group">
    
            <label> name</label>
    
             <input type="text" class ="form-control" id = "name"
    
               [(ngModel)] = "sunglasses.name" name = "name">
    
        </div>
    
       
    
        <div class="form-group">
    
            <label> price</label>
    
             <input type="text" class ="form-control" id = "price"
    
               [(ngModel)] = "sunglasses.price" name = "price">
    
        </div>
    
       
    
        <div class="form-group">
    
            <label> brand</label>
    
             <input type="text" class ="form-control" id = "brand"
    
               [(ngModel)] = "sunglasses.brand" name = "brand">
    
        </div>
    
       
    
        <div class="form-group">
    
            <label> image</label>
    
             <input type="text" class ="form-control" id = "image"
    
               [(ngModel)] = "sunglasses.image" name = "image">
    
        </div>
    
       
    
        <div class="form-group">
    
            <label> frameColor</label>
    
             <input type="text" class ="form-control" id = "frameColor"
    
               [(ngModel)] = "sunglasses.frameColor" name = "frameColor">
    
        </div>
    
       
    
        <div class="form-group">
    
            <label> frameShape</label>
    
             <input type="text" class ="form-control" id = "frameShape"
    
               [(ngModel)] = "sunglasses.frameShape"name = "name">
    
        </div>
    
       
    
        <div class="form-group">
    
            <label>weight</label>
    
             <input type="text" class ="form-control" id = "weight"
    
               [(ngModel)] = "sunglasses.weight" name = "weight">
    
        </div>
    
    
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    
    
    </form>
    
    </div>

