
<div class="col-md-6 offset-md-3">
<h3> Create Glasses</h3>    
<form (ngSubmit) = "onSubmit()">
    <div class="form-group">
         <label>Name</label>
         <input type="text" class="form-control" id="name"
        [(ngModel)] = "glasses.name" name="name">
        </div>
    
    <div class="form-group">
    
         <label>Price</label>
    
         <input type="text" class="form-control" id="price"
    
          [(ngModel)] = "glasses.price" name="price">
    
    </div>
    
    <div class="form-group">
    
        <label>Image</label>
    
        <input type="text" class="form-control" id="image"
    
        [(ngModel)] = "glasses.image" name="image">
    
     </div>
    
    <div class="form-group">
    
        <label>Brand</label>
    
        <input type="text" class="form-control" id="brand"
    
        [(ngModel)] = "glasses.brand" name="brand">
    
    </div>
    
    <div class="form-group">
    
        <label>Type</label>
    
        <input type="text" class="form-control" id="type"
    
        [(ngModel)] = "glasses.type" name="type">
    
    </div>
    
    <div class="form-group">
    
        <label>PowerRange</label>
    
        <input type="text" class="form-control" id="powerRange"
    
        [(ngModel)] = "glasses.powerRange" name="powerRange">
    
    </div>
    
    <button class="btn-btn-success" type="submit">Submit</button>
    
    </form>
    
    </div>